
/*GENERAL NOTES
Verdana-based sans serif stack 
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;*/


/*Navigation Bar*/  
#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  color: whitesmoke;
}
/*Navbar text*/
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: 'DM Serif Text', serif;
  font-size: 24px;
}
/*Navbar background*/
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/*About Page Text Styling
-------------------------*/
body {
  padding-top: 60px;
  background-color: #353535;
  color: rgb(190, 190, 190);
  }

h1 {
    font-size: calc(30px + (38 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
    color: #ffffff;
}
h2 {
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'DM Serif Text', serif;
  color: #ffffff;
}

h3 {
  font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'DM Serif Text', serif;
  color: #ffffff;
}

p {
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Raleway', sans-serif;
  padding-left: 10px;
  padding-right: 0px;
  flex-wrap: wrap;
  display: flex;
  text-align: justify;
  width: 100%;
  line-height: 30px;
}

p > a {
  text-decoration: none;
  color: #db037a;
}

.textcolumn {
  width: 55%;
  height: 100%;
  padding: 50px;
  background-color: #353535bd;
  z-index: 15;
}

.surrounding {
  background-color: #353535;
}

.imagecolumn {
    width: -60%;
    height: 100%;
    position: fixed;
    background-color: #353535;
    mix-blend-mode: multiply darken overlay;
    right: 200px;
    bottom: 0;
    z-index: -5;
}

 
@media screen and (max-width: 1000px) {
    .textcolumn {
      flex: 50%;
      max-width: 50%;
    }
    .imagecolumn {
      position: relative;
      z-index: -15;
  }
}
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 850px) {
    .textcolumn {
      flex: 100%;
      max-width: 100%;
    }
    .imagecolumn {
      position: fixed;
      z-index: -15;
      left: 0;
    }
  }