
/*GENERAL NOTES
Verdana-based sans serif stack 
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;*/


/*Home Page Text Styling
-------------------------*/
body {
  padding-top: 60px;
}

h1 {
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
}
h2 {
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'DM Serif Text', serif;
}

h3 {
  font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'DM Serif Text', serif;
}

p {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

/*Background Grid Images- Home Page
------------------------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /*format of columns from w3School
  "/* Create four equal columns that sits next to each other"
   ----------------------------------------------------------*/
  .column {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  /*Not sure
  ------------*/
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: contrast(100%) grayscale(100%)
  }

  #Socials {
    width:24px;
  }
  
img:hover {
      filter: contrast(120%) grayscale(0%)
}

 
    @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/*Navigation Bar*/  
  #navbar {
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
      transition: top 0.3s;
      color: whitesmoke;
  }
    /*Navbar text*/
  #navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-family: 'DM Serif Text', serif;
      font-size: 20px;
  }
    /*Navbar background*/
  #navbar a:hover {
      background-color: #ddd;
      color: black;
  }

textarea {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  font-family: Verdana;
}

figure {
  max-height: 18px;
  max-width: 20px;
  position: inline; 
}

/*About Page
-------------*/
.text {
  float: 50%;
  max-width: 75%;
  padding-right: 12.5%;
  padding-left: 12.5%;
  flex-wrap: wrap;
  display: flex;
  text-align: justify;
}