
/*Navigation Bar*/  
#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  color: whitesmoke;
}

/*Navbar text*/
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: 'DM Serif Text', serif;
  font-size: 20px;
}

/*Navbar background*/
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Verdana-based sans serif stack 
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;*/

body {
    margin: 0;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
    padding-top: 55px; 
    padding-right: 100px; 
    padding-bottom: 10px; 
    padding-left: 100px;
    text-align: justify;
  }

h1 {
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
}

h2 {
    font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.generaltext {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 60%;
    float: center;
    text-align: justify;
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}

figcaption {
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300))) ;
    text-align: justify;
    font-family: 'Gentium Basic', serif;
    font-style: italic;
}