.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(30%,1fr));
  grid-auto-rows: 20px;
}

/* Non-grid specific CSS */  
body {
  margin: 10px;
	color: #374046;
	background-color: #374046;
	font-family: 'Raleway', sans-serif;
	font-size: 1.15em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.item {
  background-color: #ffffff;
}

.photothumb{
  width: 100%;
  filter: grayscale(100%) contrast(100%);
}

.photothumb:hover{
  filter: grayscale(0%) contrast(120%);
}

.title {
  padding: 20px;
 }

.title h3{
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'DM Serif text', serif;
}

.project .title{
  background-color: #4746466c;
}

.project:hover .title{
  background-color: rgb(52, 201, 206);
}

.blog .title{
  background-color: #302f2fee;
}

.blog:hover .title{
  background-color: #972259;
}

.photo .title{
  background-color: #4746466c;
}

.photo:hover .title{
  background-color: rgb(250, 114, 104);

}

.desc text{
  padding: 10px 10px 5px 10px;
  text-align: justify;
}

.desc img{
  width: 100%;
  margin: 0;
  float: center;
  padding: 0;
}

.desc p{
  margin-bottom: 10px;
  margin-top: 1px;
}

#barimage {
  width: 100%;
  height: auto;
  filter: contrast(120%) grayscale(100%) ;
}

#barimage:hover {
  filter: contrast(80%) grayscale(10%);
}

/*way to hide unneeded blog entry area without losing code for it*/
#hidden {
  display: none;
}