
/*GENERAL NOTES
Verdana-based sans serif stack 
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;*/


/*Home Page Text Styling
-------------------------*/
body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
    padding-top: 60px;
    }

h1 {
  font-size: calc(30px + (44 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'DM Serif Text', serif;
}

h2 {
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
}

hr {
  color: #413f3f;
}
/*Background Grid Images- Home Page
------------------------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /*format of columns from w3School
  "/* Create four equal columns that sits next to each other"
   ----------------------------------------------------------*/

  #Socials {
    width:24px;
  }

 
    @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/*Navigation Bar*/  
  #navbar {
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
      transition: top 0.3s;
      color: whitesmoke;
  }
    /*Navbar text*/
  #navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-family: 'DM Serif Text', serif;
      font-size: 20px;
  }
    /*Navbar background*/
  #navbar a:hover {
      background-color: #ddd;
      color: black;
  }

/*Contact Form*/
input[type=text], select {
    max-width: 50%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Verdana;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  font-family: Verdana;
}
    /*Submit button design*/
input[type=submit] {
    background-color: #e71710;
    color: white;
    border: solid 1px black;
    padding: 5px;
    font-family: Verdana;
    font-size:16px;
    cursor: pointer;
}
    /*Submit button when mouse is over it*/
input[type=submit]:hover {
    background-color: #000000;
    border: 1px solid #000000;
    color: white;
    padding: 5px;
    font-size:16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    /*Area around submit button*/
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    
} 

figure {
  max-height: 18px;
  max-width: 20px;
  position: inline;
  
}

/*About Page
-------------*/
#About {
  float: 50%;
  max-width: 50%;
  padding-right: 25%;
  padding-left: 25%;
  flex-wrap: wrap;
  display: flex;
  text-align: justify;
}