
  
  body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(braves.jpg) bottom center;
    background-position: bottom center;
    background-size: cover;
    display: fixed;
  }

  h1 {
    color: white;
    font-size: 6rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    line-height: 1.5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  h2 {
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  h3 {
    color: white;
    font-size: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    line-height: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4em solid white;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 2rem;
    padding: 1rem .5rem;
    transition: all 1s ease;
    width: 8rem;
    text-align: center;
    color: white;
    background: rgba(4, 66, 148, 0.7);
    text-shadow: 0 0 .5rem rgb(3, 3, 3);
  }
  
  .playing {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 1em black;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(255, 68, 68);
  }

  @media (max-width: 820px) {
    html {
      background-size: cover;
      background-repeat: none;
      background-position: top center;
    }
  }