
/*GENERAL NOTES
Verdana-based sans serif stack 
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;*/


/*Home Page Text Styling
-------------------------*/
body {
    margin: 0;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
    padding-top: 60px;
    }

h1 {
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
}

/*Navigation Bar*/  
.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  color: whitesmoke;
}
/*Navbar text*/
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: bold;
  font-family: 'DM Serif Text', serif;
  font-size: 24px;
}
/*Navbar background*/
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#selected {
  background-color: rgb(73, 73, 73);
  color: #db037a;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}






/*Background Grid Images- Home Page
------------------------------------*/
.row {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /*format of columns from w3School
  "/* Create four equal columns that sits next to each other"
   ----------------------------------------------------------*/
  .column {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  /*photos with class "column"
  ------------*/
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    filter: grayscale(70%) contrast(100%);
  }

  .column1 img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    filter: grayscale(70%) contrast(100%);
  }
/*touchscreen links not black&white*/
  #touchlink {
    filter: grayscale(0%) contrast(120%);
  }
/*desktop links contrast*/
  #mouselink {
    filter: contrast(120%);
    }

/*changes filter of image tags -broad- on hover*/  
img:hover {
      filter: contrast(120%) grayscale(0%)
}

/*on screens that most likely have a pointer, (larger than iPad) 
disable column 1; touchlink; dropdown; and resize images appropriately?*/
@media screen and (min-width: 1025px) {
  #touchlink {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .column1 {
    display: none;
  }
  .row {
    max-width: 100%;
    height: auto;
  }
}
 /*smaller screens, two columns*/
    @media screen and (max-width: 1024px) {
      .column1 img {
        max-width: 100%;
        flex: 50% ;
        filter: contrast(110%);
        padding: 0 4px;
      }
      .row {
        max-width: 100%;
        display: block;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill,);
        grid-auto-rows: 20px;
      }
      .column {
        max-width: 100%;
        flex: 50%;
        padding: 0 4px;
      }
      .column img {
        filter: contrast(105%) grayscale(0%);
      }
    }