
/*GENERAL NOTES
Verdana-based sans serif stack 
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;*/


/*Home Page Text Styling
-------------------------*/
body {
    margin: 0;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
    padding-top: 60px;
    }

h1 {
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
}

/*Navigation Bar*/  
#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  color: whitesmoke;
}
/*Navbar text*/
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: 'DM Serif Text', serif;
  font-size: 20px;
}
/*Navbar background*/
#navbar a:hover {
  background-color: #ddd;
  color: black;
}


/*Background Grid Images- Home Page
------------------------------------*/
.row {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /*format of columns from w3School
  "/* Create four equal columns that sits next to each other"
   ----------------------------------------------------------*/
  .column {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  /*photos with class "column"
  ------------*/
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(60%) contrast(110%);
  }
/*touchscreen links not black&white*/
  #touchlink {
    filter: grayscale(0%) contrast(120%);
  }
/*desktop links contrast*/
  #mouselink {
    filter: contrast(120%);
    }

/*changes filter of image tags -broad- on hover*/  
img:hover {
      filter: contrast(120%) grayscale(0%)
}

/*larger screens, hide touch links*/
@media screen and (min-width: 851px) {
  .column1 {
    display: none;
  }
  .row {
    width: 100%;

  }
}
 /*smaller screens, two columns*/
    @media screen and (max-width: 850px) {
      .column1 {
        flex: 100% 1 1 auto;
        justify-content: 100%;
        display: flex;
        max-width: 49%;
        filter: contrast(100%);
        padding: 1em;
      }
      .row {
        width: 100%;
        display: flex;
        flex: 100% 1 1 auto;
        padding: 1em;
      }
      .column {
        flex: 24%;
        max-width: 24%;
        justify-content: 100%;
        padding: 0 4px;
      }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column1 {
      flex: 1 1 auto;
      max-width: 100%;
      filter: contrast(120%);
    }
  }
