/*Navigation Bar*/  
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    color: whitesmoke;
  }
  /*Navbar text*/
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'DM Serif Text', serif;
    font-size: 24px;
  }
  
  #selected {
    background-color: rgb(73, 73, 73);
    color: #db037a;
  }
  
  /*Navbar background*/
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }


/*Projects Page Text Styling
-------------------------*/
body {
    padding-top: 60px;
    background-color: black;
    color: rgb(190, 190, 190);
    }
  
  h1 {
      font-size: calc(30px + (38 - 30) * ((100vw - 300px) / (1600 - 300)));
      font-family: 'DM Serif Text', serif;
      color: #ffffff;
  }
  h2 {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
    color: #ffffff;
  }
  
  h3 {
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'DM Serif Text', serif;
    color: #ffffff;
  }
  
  p {
    margin-top: 60px;
    font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;
    padding-right: 0px;
    text-decoration: none;
    color: #db037a;
    text-align: center;
    width: 100%;
    line-height: 30px;
  }

  ul {
        margin-top: 60px;
        font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
        font-family: 'Raleway', sans-serif;
        padding-left: 10px;
        padding-right: 0px;
        flex-wrap: wrap;
        text-decoration: none;
        color: #db037a;
        text-align: center;
        width: 100%;
        line-height: 30px;
  }
  

a {
    text-decoration: none;
    color: #db037a;
  }

a:hover {
  text-decoration: none;
  color: #f884c4;
}