body {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: black;
      font-family: 'Kanit', sans-serif;
}

figure {
  float: center;
text-align: center;
font-style: italic;
font-size: smaller; 
font-family: Arial;
}
